.lentop {
    display: none;
    bottom: 4%;
    right: 20px;
    cursor: pointer;
    position: fixed;
    z-index: 1000;
}

.lentop div {
    background-color: #33CC33;
    border-radius: 5px;
    padding: 11px 12.5px;
    box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.3);
    background-size: 400% 400%;
    animation: gradient 7s ease infinite;
}

.lentop img {
    width: 24px;
    height: 24px;
    padding-bottom: 3px;
}
