.navbar-list {
    overflow-y: scroll;
    border-radius: 15px;
    overflow-x: hidden;
    width: 290px;
    background-color: #fff; 
    height: 300px;
    font-weight: bold;
  }
  /* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(13, 206, 6); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  
  .navbar-list a {
    font-size: 14px;
    color: gray;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  
  .subnav .subnavbtn {
    font-size: 14px;  
    border: none;
    width: 290px;
    color: #333;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }


  .subnav-header .subnavbtn {
    position: sticky;
    position: -webkit-sticky; 
    font-size: 14px;  
    border: none;
    border-bottom: 1px solid;
    border-radius: 15px;
    border-color: #eee;
    width: 290px;
    color: #333;
    padding: 14px 16px;
    font-family: inherit;
    margin: 0;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px;
  }
  
  .navbar-list a:hover, .subnav:hover .subnavbtn {
    background-color: #eee;
    color: #33CC33;
  }
  
  .subnav-content {
    display: none;
    position: absolute;
    margin-top: -100px;
    margin-left: 285px;
    background-color: white;
    width: 853px;
    height: 200px;
    z-index: 10000;
    border-radius: 15px;
  }
  
  .subnav-content a {
      flex-wrap: wrap;
    float: left;
    color: black;
    text-decoration: none;

  }
  
  .subnav-content a:hover {
    background-color: #eee;
    color: #33CC33;
  }
  
  .subnav:hover .subnav-content {
    display: block;

  }