.form_login_member{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    background-color: #fff;
    width: 400px;
    height: 450px;
    border-radius: 15px;
    box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.1);
}

.title_login_member{
    display: flex;
	flex-direction: column;
	justify-content: center;
    width: 400px;
    height: 100px;
    background-color: #33CC33;
    border-radius: 15px 15px 0 0;
    text-align: center;
}

.content_login_member{
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    position: relative;
}

.label_login_member{
    font-size: 20px;
    color: #33CC33;
    margin-left: 20px;
    margin-top: 20px;
}

.password_login_member{
    border: 1px solid;
    border-radius: 30px;
    font-size: 25px;
    margin-left: 45px;
    border-color: #4158d0;
    padding-left: 15px;
    color: #333;
}

.password_login_member:focus{
    outline: none;
    border-color: #33CC33;
    box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.1);
    color: #333;
}

.login_button_member{
    font-size: x-large;
    color: #fff;
    border-radius: 30px;
    border: none;
    padding: 5px 10px 5px 10px;
    background-color: #33CC33;
    width: 300px;
    margin-top: 40px;
    margin-left: 47px;
}
.login_button_member:hover{
    background-color: #0cad0c;
}

.form_login_link_register{
    text-align: center;
    margin-top: 30px;
}
