.avatar_member{
    margin-top: 30px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.select_profile{
    background-color: #fff;
    box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.1);
    width: 350px;
    height: 110px;
    margin-top: 30px;
    border-radius: 20px;
    display: flex;
	flex-direction: column;
	justify-content: center;
}

.content_profile{
    border: 2px solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px 20px 30px;
    width: 300px;
    text-align: center;
    font-weight: bold;
    color: #33CC33;
}

.content_profile_F{
    border: 2px solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px 20px 30px;
    width: 300px;
    text-align: center;
    font-weight: bold;
}

.content_profile_F:hover{
    color: #33CC33;
    text-decoration: none;
}

.title_profile{
    margin-top: 16px;
    font-size: xx-large;
    font-weight: bold;
    padding-bottom: 20px;
}

.content_info_profile{
    font-size: x-large;
    padding: 20px 5px 20px 5px;
}


.button_change_pass{
    margin-top: 20px;
    margin-left: 50px;
    padding: 5px 10px 5px 10px;
    background-color: #33CC33;
    border: none;
    color: #fff;
    border-radius: 15px;
}

.button_change_pass:hover{
    background-color: #0cad0c;
}

.change_pass_form{
    margin-top: 16px;
}
